@model TestWebNotCore.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.Raw(Model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.Raw(Model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.Raw(Model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.Raw(Model.Body)
        </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm("Delete","Posts",new{id=Model.Id})) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</p>
<hr />
<div>
    <table>
        @foreach(var item in Model.PostComments)
        {
        <tr>
            <td>
                <b>@Html.DisplayFor(itemModel => item.Author):</b>
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Text)
            </td>
            <td>
                @using(Html.BeginForm("DeleteComment", "Posts", new { id = item.Id }))
                {
                    <input type="submit" value="Delete" class="btn btn-default"/>
                }
            </td>
        </tr>
        }
    </table>
    <br />
    @using(Html.BeginForm("AddComment", "Posts", new { postId = Model.Id}))
    {
        @Html.TextArea("commentText")
        <input type="submit" value="Add Comment" class="btn btn-default" />
    }
</div>